.container {
    display: flex;
    gap: 15px;
}

.image {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 40px;
    color: #8B0000;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    list-style: none;
}

.overview {
    font-size: 28px;
    color: #8B0000;
    text-transform: uppercase;
    margin: 0;
}

.genres {
    font-size: 28px;
    color: #8B0000;
    text-transform: uppercase;
    margin: 0;
    margin-top: 20px;
}

.text {
    font-size: 20px;
    margin: 0;
}