.list {
    list-style: none;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* .item {
    display: flex;
    align-items: center;
    justify-content: center;
} */